@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pontano+Sans&display=swap');

/* ----------------- Main Body Styling ----------------- */

body {
 background-image: url("images/background.png");
 background-repeat: no-repeat;
 background-size: auto;
 font-family: 'Pontano Sans', sans-serif;
 color: white;
}

/* ------------------------------------------------------*/


/* ----------------- NavBar Styling ----------------- */

nav{
    background-color: transparent;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.brand-logo{
    margin-left: 6rem;
    font-family: 'Alfa Slab One', cursive;
}

@media only screen and (max-width: 992px){
    .brand-logo{
        margin-left: 0;
}
}

nav .btn{
    background-color: transparent;
    border-radius: 25px;
    height: 25px;
    line-height: 25px;
}

nav ul a.btn{
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul{
    margin-right: 6rem;
}

.navHeader{
    color: rgba(0,0,0,0.87);
    text-align: center;
     font-family: 'Alfa Slab One', cursive;
}

/* ------------------------------------------------------*/

/* ----------------- Landing Page Styling ----------------- */

.landing-header{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8); 
}


.landing-buttons{
    border-radius: 25px;
    background-color: transparent;
    width: 88px;
    height: 36px;
    display: inline-block;
    margin: 5px;
}

#landing-container{
    text-align: center;
    margin-top: 10rem;
}

.landing-paragraph{
    text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8); 
}

/* ------------------------------------------------------*/

/* ----------------- Media Queries ----------------- */

@media only screen and (min-width: 993px){
    .container {
        width: 60%;
    }
}