@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pontano+Sans&display=swap");

/* ----------------- Global Styling ----------------- */

body {
  font-family: "Pontano Sans", sans-serif;
  color: white;
}

footer {
  margin-top: 5rem;
}

iframe {
  border: none;
}

.logo-db,
.landing-db,
.side-nav-db {
  color: rgb(224, 58, 119);
}

button {
  overflow: hidden;
}

.container {
  width: 90%;
}

.hidden {
  display: none;
}

.test {
  background-color: #312a2a;
}

.btn-floating,
.btn-floating:focus,
.btn-floating:hover {
  background-color: rgb(224, 58, 119);
  border-radius: 0;
}

textarea.materialize-textarea {
  color: white;
}

div.datepicker-calendar-container {
  background-color: #312a2a;
}

.datepicker-table td.is-selected {
  background-color: white;
}

div.description-container p::first-letter,
div.review-container p::first-letter {
  text-transform: uppercase;
}

/* ------------------------------------------------------*/

/* ----------------- BreadCrumb Styling ----------------- */

.breadcrumb {
  font-size: 1rem;
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
}

.breadcrumb:before {
  font-size: 1.2rem;
}

.breadcrumb:hover {
  color: rgb(224, 58, 119);
}

.breadcrumb.active {
  color: rgb(224, 58, 119);
  text-decoration: underline;
}
/* ------------------------------------------------------*/

/* ----------------- Page Backgrounds ----------------- */

/* Also used for Login and signup backgrounds via variable is_index in app.py*/

.landing-bg {
  background-image: url(/static/images/landing.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.games-bg {
  background-image: url(/static/images/games-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.game-bg {
  background-image: url(/static/images/game-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.addgame-bg {
  background-image: url(/static/images/add-game-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.about-bg {
  background-image: url(/static/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------*/

/* ----------------- NavBar Styling ----------------- */

nav {
  background-color: transparent;
  color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
}

nav ul {
  margin-right: 6rem;
}

nav ul a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.brand-logo {
  margin-left: 6rem;
  font-family: "Alfa Slab One", cursive;
}

nav .btn {
  background-color: #312a2a;
  border-radius: 25px;
  height: 25px;
  line-height: 25px;
  text-transform: capitalize;
}

nav .btn:hover {
  background-color: rgb(224, 58, 119) !important;
  color: white;
}

nav ul a:hover {
  color: rgb(224, 58, 119);
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav ul a.btn {
  margin-top: -2px;
  margin-left: 5px;
  margin-right: 5px;
}

.navHeader {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  font-size: 2.9rem;
  margin: 3rem 0;
}

.nav-wrapper.fix.scrolled {
  background-color: rgba(29, 28, 28, 0.5) !important;
  transition: background-color 200ms linear;
}

.nav-wrapper.fix {
  transition: background-color 200ms linear;
}

.navbar-fixed {
  z-index: 999;
}

.sidenav li > a {
  font-weight: 600;
}

/* ------------------------------------------------------*/

/* ----------------- Landing Page Styling ----------------- */

.landing-header {
  color: white;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-top: 25vh;
}

.landing-buttons {
  border-radius: 25px;
  background-color: #312a2a;
  width: 88px;
  height: 36px;
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
}

.landing-buttons:hover {
  background-color: rgb(224, 58, 119);
}

.landing-container {
  text-align: center;
}

.landing-paragraph {
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* ------------------------------------------------------*/

/* ----------------- Games Page Styling ----------------- */

.filter-container {
  background-color: rgba(224, 58, 119, 1);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  bottom: 0;
  opacity: 0.75;
}

.games-header {
  font-family: "Alfa Slab One", cursive;
  margin-bottom: 0;
}

.games-bg-container {
  width: 100%;
  height: 35rem;
  position: relative;
  top: -4.5rem;
}

.container.crumbs {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 80%;
}

.options-container {
  position: absolute;
  top: 47%;
  left: 20%;
  bottom: 40%;
  right: 20%;
}

div .search-row.row {
  margin-bottom: 0;
}

div .category.input-field {
  margin-bottom: 0;
}

.select-wrapper input.select-dropdown {
  color: white;
}

.select-wrapper .caret {
  fill: white;
}

.dropdown-content {
  color: white;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  color: #312a2a;
  text-transform: capitalize;
}

input {
  font-family: "Pontano Sans", sans-serif;
  color: white;
}

.input-field.col.s12 {
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 1rem;
  margin-bottom: 1px;
}

.options-container .row .input-field.col.s12 {
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.input-field input[type="search"]:focus:not(.browser-default) {
  background-color: transparent;
  color: white;
}

.search-button {
  background-color: white;
  color: rgb(224, 58, 119);
  border-radius: 0;
  text-align: left;
}

.search-button:hover {
  background-color: #312a2a;
  color: rgb(224, 58, 119);
}

.search-button:focus {
  background-color: #312a2a;
}

/* ---- Cards Styling ---- */

.row.card-row {
  display: inline-block;
  max-height: 368px;
}

.card {
  color: #312a2a;
  font-family: "Alfa Slab One", cursive;
  box-shadow: none;
  width: 250px;
  height: 361px;
}

.card:hover {
  transform: scale(1.02);
  color: rgb(224, 58, 119);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-title {
  text-transform: capitalize;
  word-wrap: break-word;
  position: relative;
  float: left;
  font-size: 1.4rem !important;
}

.genre-tag {
  z-index: 3;
  position: absolute;
  right: 10%;
  bottom: 5%;
  color: white;
  font-family: "Pontano Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.card-image {
  height: 325px;
  width: 250px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.card .card-image img {
  height: 100%;
}

.container.card-container {
  width: 85%;
  text-align: center;
}

/* -----------------------*/

/* ------------------------------------------------------*/

/* ----------------- Login/Signup Page ----------------- */

.login-header,
.signup-header {
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  color: white;
  text-transform: uppercase;
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
  margin-top: 20vh;
  margin-bottom: 0;
}

.login-container,
.signup-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.account-check {
  position: absolute;
  right: 0;
  bottom: 23%;
  font-size: small;
}

.signup-account-check {
  position: absolute;
  right: 0;
  bottom: 18%;
  font-size: small;
}

span.account-check a,
span.signup-account-check a {
  color: rgb(224, 58, 119);
}

span.account-check a:hover,
span.signup-account-check a:hover {
  color: white;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(224, 58, 119);
  box-shadow: 0 1px 0 0 rgb(224, 58, 119);
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(224, 58, 119);
}

.login-btn,
.signup-btn,
.submit-btn,
.edit-btn,
.delete-btn {
  border-radius: 0;
  background-color: rgb(224, 58, 119);
  color: white;
  margin-top: 2rem;
}

.login-btn:hover,
.signup-btn:hover,
.submit-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  background-color: #312a2a;
  color: rgb(224, 58, 119);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login-btn:focus,
.signup-btn:focus,
.submit-btn:focus,
.edit-btn:focus,
.delete-btn:focus {
  background-color: #312a2a;
}

.login-form,
.signup-form {
  color: white;
  margin-bottom: 4.7rem;
}

.textarea.materialize-textarea {
  border-bottom: 1px solid rgb(224, 58, 119);
}

.input-field > label {
  color: white;
}

/* ------------------------------------------------------*/

/* ----------------- Game Page Styling ----------------- */

.game-bg-container {
  width: 100%;
  height: 20rem;
  position: relative;
  top: -4.5rem;
}

.game-header {
  margin-top: 80px;
  font-family: "Alfa Slab One", cursive;
  margin-bottom: 0;
  text-transform: capitalize;
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
}

.image-container {
  position: relative;
  /* height: 467px; */
  overflow: auto;
}

img.responsive-img {
  width: 100%;
}

.details-container {
  color: #777777;
  font-weight: 600;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
  font-family: "Alfa Slab One", cursive;
  font-size: 0.8rem;
  text-decoration: none;
  overflow: auto;
  min-height: 467px;
}

.details-container ul li {
  margin-bottom: 1rem;
}

.details-header,
.description-header,
.review-header {
  color: #312a2a;
  padding: 30px 0 10px 0;
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
}

.key {
  color: rgb(224, 58, 119);
  font-weight: 500;
  text-transform: uppercase;
  display: inline;
}

.value {
  font-family: "Pontano Sans", sans-serif;
  text-transform: capitalize;
  display: inline;
}

li.content i.material-icons {
  position: relative;
  top: 12% !important;
  padding-right: 3px;
}

.details-content {
  margin-top: 2rem;
}

#video-button:hover,
#image-button:hover {
  background-color: #312a2a;
}

i.tags {
  color: #312a2a;
}

.media-buttons-container {
  position: absolute;
  left: auto;
}

.description-container,
.review-container {
  color: #777777;
  font-weight: 600;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
  font-family: "Pontano Sans", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 4rem;
  min-height: 250px;
}

ul li a.buy-button,
ul li a.buy-button:focus {
  color: white;
  background-color: rgb(224, 58, 119);
  font-family: "Pontano Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

ul li a.buy-button:hover {
  background-color: #312a2a;
  color: rgb(224, 58, 119) !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.review-container {
  max-height: 250px;
  overflow: auto;
}

/* ---- delete modal ---- */

.modal-content {
  color: rgb(224, 58, 119);
  text-align: center;
}

.modal-delete:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-cancel:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* -----------------------*/

/* ------------------------------------------------------*/

/* ----------------- addGame Page styling ----------------- */

.datepicker-day-button {
  color: rgb(224, 58, 119);
}

.datepicker-date-display {
  background-color: rgb(224, 58, 119);
}

.datepicker-day-button:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: rgb(224, 58, 119);
}

.add-form-container {
  position: relative;
}

.add-game-header {
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid rgb(224, 58, 119);
  border-bottom: 2px solid rgb(224, 58, 119);
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid rgb(224, 58, 119);
}

.crud-button-container {
  margin-top: 1rem;
}

/* ------------------------------------------------------*/

/* ----------------- Edit Page ----------------- */

.edit-game-header {
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}

.edit-form-container {
  position: relative;
}

/* ------------------------------------------------------*/

/* ----------------- About Page ----------------- */

.about-bg-container {
  width: 100%;
  height: 20rem;
  position: relative;
  top: -4.5rem;
}

.about-header {
  margin-top: 80px;
  font-family: "Alfa Slab One", cursive;
  margin-bottom: 0;
  text-transform: capitalize;
  text-shadow: 5px 5px 1.2rem rgba(0, 0, 0, 0.8);
}

.about-container {
  text-align: left;
  padding: 20px 25px;
}

.about-sub-heading,
.how-to-use-heading {
  color: #312a2a;
  font-family: "Alfa Slab One", cursive;
}

.about-paragraph,
.how-to-use {
  color: #777777;
  font-family: "Pontano Sans", sans-serif;
  list-style-type: upper-roman;
  font-weight: 600;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

ol li a {
  color: rgb(224, 58, 119);
}

ol li a:hover {
  color: #312a2a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.muted-text {
  color: grey;
  font-size: 0.8rem;
}

/* ------------------------------------------------------*/

/* ----------------- Footer Styling ----------------- */

.page-footer {
  background-color: #312a2a;
  color: rgb(224, 58, 119) !important;
}

.game-footer {
  color: white;
}

.footer-logo {
  font-family: "Alfa Slab One", cursive;
}

.designed-by {
  margin-right: 1rem;
}

.fab {
  font-size: x-large;
  margin: 0 10px;
}

.facebook:hover {
  color: #3d5a99 !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.github:hover {
  color: #24292e !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.linkedin:hover {
  color: #0073b0 !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a.footer-links {
  color: rgb(224, 58, 119);
}

.footer-links:hover {
  color: #f5f5f5 !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ------------------------------------------------------*/

/* ----------------- Loader ----------------- */

.loader-bg {
  position: fixed;
  z-index: 1005;
  top: 0;
  left: 0;
  background: #312a2a;
  width: 100%;
  height: 100%;
}

.loader-bg span {
  font-family: "Alfa Slab One", cursive;
}

.loading-container {
  text-align: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  margin-top: 40vh;
}

.progress {
  background-color: #312a2a;
}

.progress-container {
  width: 50%;
}

.progress .indeterminate {
  background-color: rgb(224, 58, 119);
}

/* ------------------------------------------------------*/

/* ----------------- Media Queries ----------------- */

@media only screen and (max-width: 993px) {
  /* .options-container {
    position: absolute;
    top: 55%;
    left: 20%;
    bottom: 40%;
    right: 20%;
  } */

  .details-container {
    margin-top: 4rem;
    min-height: fit-content;
  }

  .brand-logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1240px) {
  .details-container,
  .review-container,
  .description-container,
  .image-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .details-header,
  .description-header,
  .review-header {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .options-container {
    top: 47%;
    left: 20%;
    bottom: 40%;
    right: 20%;
  }
}

@media only screen and (max-width: 388px) {
  .login-btn,
  .signup-btn,
  .submit-btn {
    font-size: 0.9rem;
  }
}

@media only screen and (max-height: 400px) {
  .landing-header {
    margin-top: 15vh;
  }

  .login-header {
    margin-top: 10vh;
  }

  .signup-header {
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 396px) {
  .breadcrumb {
    font-size: 0.9rem;
  }

  .breadcrumb::before {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 993px) {
  .image-container {
    height: 467px;
  }
}

@media only screen and (max-width: 480px) {
  .account-check,
  .signup-account-check {
    position: relative;
    display: block;
    margin-top: 1rem;
    font-size: smaller;
  }
}

/* @media only screen and (max-width: 602px){
    .search-button{
        display: none;
    }

    .mobile-search-button{
        display: block;
    }
}

@media only screen and (max-width: 930px){
    .search-button{
        font-size: 0.8rem;
    }
} */

/* ------------------------------------------------------*/
