{% extends 'base.html' %}{% block content %}
<div class="game-bg-container">
  <div class="about-bg">
    <!-- Container for header and breadcrumbs -->
    <div class="container crumbs">
      <h4 class="game-header">About</h4>
      <nav>
        <div class="nav-wrapper">
          <a href="{{url_for('home_page')}}" class="breadcrumb">Home</a>
          <a href="{{url_for('about')}}" class="breadcrumb active">About</a>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Container for about paragraph -->
<div class="col s12 l4">
  <div class="container">
    <div class="row">
      <div class="about-container z-depth-2">
        <h5 class="about-sub-heading">About</h5>
        <p class="about-paragraph">
          GameDB is a website built by you. You add the information about your
          favourite games and your own reviews. Your contributions to the
          website will help others learn about your favourite games. Simply Sign
          up or Login to begin.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- container for instructions -->

<div class="col s12 l4">
  <div class="container">
    <div class="row">
        <div class="about-container z-depth-2">
        <h5 class="how-to-use-heading">How to use</h5>
        
            <ol class="how-to-use">
            <li>Firstly <a href="{{url_for('signup')}}">Create an Account</a>, or if you have done already <a href="{{url_for('login')}}">Login</a>.</li>
            <li>Click on <a href="{{url_for('add_game')}}">Add Game</a>.</li>
            <li>Enter the details about your chosen game, all fields are required.</li>
            <li>Press submit and view your game on the <a href="{{url_for('games')}}">Games Page</a>.</li>
            <li>You can edit a game at anytime by clicking the edit button its game page.*</li>
            <li>You can also delete games by pressing the delete button on its game page.*</li>
            </ol>

        <span class="muted-text">*Only possible when the review belongs to you.</span>
        
        </div>
    </div>
  </div>
</div>

{% endblock %}
