{% extends 'base.html' %} {% block content %}
<body class="addGame-bg">
  <div class="container">
    <div class="row">
      <h3 class="add-game-header">Add Game</h3>
      <div class="add-form-container offset-l3 col s12 l6">
        <form action="{{ url_for('insert_game') }}" method="POST">
          <div class="input-field col s12">

            <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" />
            <label for="title">Game Title</label>
          </div>

            <select>
              <option value="" disabled selected>Genre</option>
              {% for gen in genre %}
              <option value="1">{{gen.genre_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input
              type="text"
              class="datepicker"
              id="releaseDate"
              name="releaseDate"
            />
            <label for="releaseDate">Release Date</label>
          </div>

          <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Platform(s)</option>
              {% for plat in platform %}
              <option value="1">{{plat.platform_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input id="developer" name="developer" type="text" class="validate" />
            <label for="developer">Developer</label>
          </div>

          <div class="input-field col s12">
            <input id="language" name="language" type="text" />
            <label for="language">Language(s)</label>
          </div>

          <div class="input-field col s12">
            <input id="playTime" name="playTime" type="text" />
            <label for="playTime">Playthrough Time (mins)</label>
          </div>

          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>VR Capable?</option>
              {% for vr in vr %}
              <option value="1">{{vr.vr}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Age Rating</option>
              {% for age in age_rating %}
              <option value="1">{{age.rating}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input id="buyLink" name="buyLink" type="url" />
            <label for="buyLink">Shop Link</label>
          </div>

          <div class="input-field col s12">
            <input id="image" name="image" type="text" />
            <label for="image">Image URL</label>
          </div>

          <div class="input-field col s12">
            <input id="video" name="video" type="text" />
            <label for="video">Embed video link</label>
          </div>

          
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea"></textarea>
          <label for="description">description</label>
        </div>

        <div class="input-field col s12">
          <textarea id="review" name="review" class="materialize-textarea"></textarea>
          <label for="review">Review</label>
        </div>
    

          <button url="{{url_for('games')}}" class="btn next-btn" type="submit" name="action">
            Next
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
