{% extends 'base.html' %} {% block content %}

<!-- page container -->

  <div class="container">
    <div class="row">
      <h3 class="add-game-header">Add Game</h3>
      <div class="add-form-container offset-l3 col s12 l6">

      <!-- Form for insert game route, to add a game based on users input, all required fields. -->

        <form id="add-game-form" action="{{ url_for('insert_game')}}" method="POST">
        
            <div class="input-field col s12">
            <input id="title" name="title" type="text" required="" aria-required="true" />
            <label for="title">Game Title</label>
            </div>

            <div class="input-field col s12">
            <select name="genre_name" required aria-required="true">
              <option value="" disabled selected>Genre</option>
              {% for gen in genre %}
              <option value="{{gen.genre_name}}">{{gen.genre_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input
              type="text"
              class="datepicker"
              id="releaseDate"
              name="release_date"
              required="" aria-required="true"
            />
            <label for="releaseDate">Release Date</label>
          </div>

          <div class="input-field col s12">
            <select name = "platform" required aria-required="true">
              <option value="" disabled selected>Platform</option>
              {% for plat in platform %}
              <option value="{{plat.platform_name}}">{{plat.platform_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input id="developer" name="developer" type="text" required aria-required="true" />
            <label for="developer">Developer</label>
          </div>

          <div class="input-field col s12">
            <input id="language" name="languages" type="text" required aria-required="true" />
            <label for="language">Language(s)</label>
          </div>

          <div class="input-field col s12">
            <input id="playTime" name="playthrough_time" type="text" required aria-required="true" />
            <label for="playTime">Playthrough Time (mins)</label>
          </div>

          <div class="input-field col s12">
            <select name="vr_capable" required aria-required="true">
              <option value="" disabled selected>VR Capable?</option>
              {% for vr in vr %}
              <option value="{{vr.vr}}">{{vr.vr}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <select name="age_rating" required aria-required="true">
              <option value="" disabled selected>Age Rating</option>
              {% for age in age_rating %}
              <option value="{{age.rating}}">{{age.rating}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12">
            <input id="buyLink" name="shop_link" type="text" required aria-required="true"/>
            <label for="buyLink">Shop Link</label>
          </div>

          <div class="input-field col s12">
            <input id="image" name="image" type="text" required aria-required="true" />
            <label for="image">Image URL</label>
          </div>

          <div class="input-field col s12">
            <input id="trailer_link" name="trailer_link" type="url" required aria-required="true"/>
            <label for="trailer_link">Trailer link</label>
          </div>

          
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea" required aria-required="true"></textarea>
          <label for="description">description</label>
        </div>

        <div class="input-field col s12">
          <textarea id="review" name="review" class="materialize-textarea" required aria-required="true"></textarea>
          <label for="review">Review</label>
        </div>

        <!-- <div class="input-field col s12">
            <input id="username" name="username" type="text" required aria-required="true" />
            <label for="username">Your username(case sensitive)</label>
          </div> -->
    
          <div class="col s12">  
          <button url="{{url_for('games')}}" class="btn next-btn" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
          </button>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
