<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
      type="text/css"
    />
  </head>

  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper fix">
          <a href="{{url_for('home_page')}}" class="brand-logo"
            ><span>Game</span><span class="logo-db">DB</span></a
          >
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('games')}}">Games</a></li>

            {% if 'username' not in session %}
            <li><a href="{{url_for('login')}}" class="btn">Login</a></li>
            <li><a href="{{url_for('signup')}}" class="btn">Sign Up</a></li>
            {% else %}
            <li><a href="{{url_for('addGame')}}">Add Game</a></li>
            <li>
              <a href="{{url_for('logout')}}" class="btn" id="logout-btn"
                >Logout</a>
            </li>
            {% endif %}
          </ul>
          <ul class="sidenav" id="mobile-demo">
            <h3 class="navHeader">Game<span class="side-nav-db">DB</span></h3>
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('games')}}">Games</a></li>
            {% if 'username' not in session %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            {% else %}
            <li><a href="{{url_for('addGame')}}">Add Game</a></li>
            <li>
              <a href="{{url_for('logout')}}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="hidden">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for 
    message in messages %}
    <p class="message">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
  </div>

  <body>
    {% block content %} {% endblock %}

    {% if not is_index %}
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        {% endif %}

<!--Import jQuery before materialize.js-->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $("select").formSelect();
        $(".datepicker").datepicker();
      });
    </script>
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $(".nav-wrapper");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
    <script>
      $(".carousel.carousel-slider").carousel({
        fullWidth: true,
      });
    </script>

    <script src="/static/js/toasts.js"></script>
    <script src="/static/js/media-buttons.js"></script>
  </body>
  
</html>
