<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
  </head>

  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper fix">
          <a href="{{url_for('home_page')}}" class="brand-logo"
            ><span>Game</span><span class="logo-db">DB</span></a
          >
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('games')}}">Games</a></li>

            {% if 'username' not in session %}
            <li><a href="{{url_for('login')}}" class="btn">Login</a></li>
            <li><a href="{{url_for('signup')}}" class="btn">Sign Up</a></li>
            {% else %}
            <li><a href="{{url_for('addGame')}}">Add Game</a></li>
            <li>
              <a href="{{url_for('logout')}}" class="btn" id="logout-btn"
                >Logout</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="sidenav" id="mobile-demo">
            <h3 class="navHeader">Game<span class="side-nav-db">DB</span></h3>
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('games')}}">Games</a></li>
            {% if 'username' not in session %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            {% else %}
            <li><a href="{{url_for('addGame')}}">Add Game</a></li>
            <li>
              <a href="{{url_for('logout')}}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <body>
    <div class="hidden">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p class="message">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="loader-bg">
   
      <div class="loading-container">
        <span class="loading-game">Game</span><span class="landing-db">DB</span>
        <div class="container progress-container">
         <div class="progress">
        <div class="indeterminate"></div>
      </div>
      </div>
      </div>
      

      <!-- <div class="loader"></div> -->
    </div>

    {% block content %} {% endblock %} {% if not is_index %}
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5>About Us</h5>
            <p>
              GameDB is a website built by you. You add the information about
              your favourite games and your own reviews. Your contributions to
              the website will help others learn about your favourite games.
              Simply Sign up or Login to begin.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5>Links</h5>
            <ul>
              <li><a class="footer-links" href="#!">Home</a></li>
              <li><a class="footer-links" href="#!">About</a></li>
              <li><a class="footer-links" href="#!">Games</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="footer-copyright">
        <div class="container">
          <a href="{{url_for('home_page')}}" class="footer-logo">
            <span class="game-footer">Game</span
            ><span class="logo-db">DB</span></a
          >
          © 2020 Copyright

          <a class="grey-text text-lighten-4 right facebook" href="#!"
            ><i class="fab fa-facebook-square"></i
          ></a>
          <a class="grey-text text-lighten-4 right github" href="#!"
            ><i class="fab fa-github-square"></i
          ></a>
          <a class="grey-text text-lighten-4 right linkedin" href="#!"
            ><i class="fab fa-linkedin"></i
          ></a>
          <span class="right designed-by"
            >Designed and developed by: Aidan</span
          >
        </div>
      </div>
    </footer>
    {% endif %}

    <!--Import jQuery before materialize.js-->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $("select").formSelect();
        $(".datepicker").datepicker();
      });
    </script>
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $(".nav-wrapper");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
    <script>
      $(".carousel.carousel-slider").carousel({
        fullWidth: true,
      });
    </script>

    <script src="/static/js/loader.js"></script>
    <script src="/static/js/toasts.js"></script>
    <script src="/static/js/media-buttons.js"></script>
  </body>
</html>
