{% extends 'base.html' %} {% block content %}

<!-- Container for image -->
<div class="games-bg-container">
  <div class="games-bg">
    <div class="container crumbs">
      <h4 class="games-header">Games</h4>
      <nav>
        <div class="nav-wrapper">
              <a href="{{url_for('home_page')}}" class="breadcrumb">Home</a>
              <a href="{{url_for('games')}}" class="breadcrumb active">Games</a>
        </div>
      </nav>
    </div>

    <!-- Container for search filter -->

    <div class="filter-container"></div>
      <div class="options-container">
        <div class="row">
        <form action="{{url_for('search')}}" method="POST">
          <div class="input-field col s12 m6 l3">
            <select name="genre">
              <option value="" disabled selected>Genre</option>
              {% for gen in genre %}
              <option id="genre" name="genre" class = "validate" value="{{gen.genre_name}}">{{gen.genre_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12 m6 l3">
            <select name="age">
              <option value="" disabled selected>Age</option>
              {% for age in age_rating %}
              <option id="age" name="age" class = "validate" value="{{age.rating}}">{{age.rating}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12 m6 l3">
            <select name="platform">
              <option value="" disabled selected>Platform</option>
              {% for plat in plat %}
              <option id="platform" name="platform" class = "validate" value="{{plat.platform_name}}">{{plat.platform_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-field col s12 m6 l3">
            <select name="developer">
              <option value="" disabled selected>Developer</option>
              {% for dev in dev %}
              <option id="developer" name="developer" class = "validate" value="{{dev.dev}}">{{dev.dev}}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="input-field col s12 m6 l3">
          <button class="btn search-button" type="submit" name="action">
            Search
            <i class="material-icons right">search</i>
          </button>
          </div>
          </form>

        </div>
      </div>
    
  </div>
</div>

<!-- Container for cards to display game image and title, also a link to individual game page -->

<div class="container card-container">
{% for key in games %}
  <div class="row card-row">
    <div class="col s12 m3 l2">
      <div class="card">
        <a class="card-link" href="{{url_for('game_page', game_id=key._id)}}">
          <div class="card-image z-depth-4">
            <img src="{{key.image}}" />
            <span class="genre-tag">{{key.genre_name}}</span>
          </div>
          <span class="card-title">{{key.title}}</span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

 {% endblock %}
