{% extends 'base.html' %} {% block content %}
<body class="landing-bg">
<div class="container" id = "landing-container">
    <h1 class="landing-header"><span>Game</span><span class="landing-db" >DB</span></h1>
    <p class="landing-paragraph">GameDB is a website built by you. You add the information about your favourite games and your own reviews.
    Your contributions to the website will help others learn about your favourite games.
    Simply Sign up or Login to begin</p>
    <a class="waves-effect waves-light btn landing-buttons">Login</a>
    <a href="#" class="waves-effect waves-light btn landing-buttons">Sign Up</a>
</div>
</body>
{% endblock %}