{% extends 'base.html' %} {% block content%}

    <h3 class = "login-header" >Sign Up</h3>

    <div class="contanier">
    <div class="row">
    <div class="login-container offset-l4 offset-s2 col s8 l4">

    <!-- Signup form, linked to signup route to create an account -->

    <form class="login-form" id="signup-form" action="{{url_for('signup')}}" method="POST">
      
        <div class="input-field">
          <input id="username" name="username" type="text" class="validate" required aria-required="true">
          <label for="username">Username</label>
        </div>
     
        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required aria-required="true">
          <label for="password">Password</label>
        </div>
     
      <button class="btn login-btn" type="submit" name="action">Sign Up
        <i class="material-icons right">send</i>
      </button>
      <span class="account-check">Already have an account? <a href="{{url_for('login')}}">Login</a></span>
    </form>
  </div>
  </div>
  </div>
{% endblock %}